@use '../common/var' as *;
@use '../mixins/mixins' as *;

@include b(pattern-background) {
  position: relative;
  width: 100%;
  height: 100%;
  
  @include when(cover) {
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  
  @include when(decorative) {
    pointer-events: none;
  }
}
